<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings >
		<add name ="sql" connectionString ="Server=(local);Database=MedicineDrug;Integrated Security=sspi" providerName="System.Date.SqlClint"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>